/*
 * Add a custom CSS file at /assets/css/custom.css
 * to avoid overwriting theme files on update.
 */

.navbar-logo-text {
  font-size: 1.2rem; /* Adjust font size as needed */
  margin-left: 0.5rem; /* Space between logo and text */
  white-space: nowrap; /* Prevents text from wrapping to a new line */
}

/* Optional: Adjust vertical alignment */
.navbar-brand img, .navbar-logo-text {
  vertical-align: middle;
}

.full-width-bg {
    background-color: #f0f0f0; /* Use your desired color or image */
    display: flex;
    align-items: center; /* Vertically center the content */
    min-height: 20px;       /* adjust as needed */
}

.full-width-bg .universal-wrapper {
  display: flex;
  text-align: center;
  padding-top: 0em;
  padding-bottom: 0em;
  margins: 0 0px;
}

.article-style p {
  text-align: justify;
  font-size: 0.90rem; /* Slightly smaller than normal */
}

/* Widen article content */
.article-container {
  max-width: 1300px; /* or try 100% if you want full width */
}

.article-style {
  max-width: 1200px;
}
