{{- define "main" -}}

{{ $.Page.Store.Set "has_isotope" true }}
{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{ with .Content }}
      <div class="article-style">{{ . }}</div>
      {{ end }}

      <br>

      {{/* --- Display Preprints --- */}}
      {{ $preprints := where $.Pages.ByDate.Reverse "Params.preprint" true }}
      {{ if gt (len $preprints) 0 }}
        <h1>Preprints</h1>
        <hr>
        {{ range $index, $item := $preprints }}
          {{ if $item.Params.publication_types }}
            {{ $.Scratch.Set "pubtype" (index $item.Params.publication_types 0) }}
          {{ else }}
            {{ $.Scratch.Set "pubtype" 0 }}
          {{ end }}

          <div class="grid-sizer col-lg-12 isotope-item pubtype-{{ $.Scratch.Get "pubtype" }} preprint">
            {{ partial "functions/render_view" (dict "page" $ "item" $item "view" ($.Params.view | default "compact") "index" $index) }}
          </div>
        {{ end }}
      {{ end }}

      <br>

      {{/* --- Collect distinct years for non-preprints --- */}}
      {{ $.Scratch.Set "years" (slice) }}
      {{ range $.Pages.ByDate.Reverse }}
        {{ if not .Params.preprint }}
          {{ $year := .Date.Format "2006" }}
          {{ if not (in ($.Scratch.Get "years") $year) }}
            {{ $.Scratch.Add "years" (slice $year) }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{/* --- Loop through each year for non-preprints --- */}}
      {{ range $year := $.Scratch.Get "years" }}
        <h1>{{ $year }}</h1>
        <hr>

        {{ range $index, $item := $.Pages.ByDate.Reverse }}
          {{ if and (eq ($item.Date.Format "2006") $year) (not $item.Params.preprint) }}

            {{ if $item.Params.publication_types }}
              {{ $.Scratch.Set "pubtype" (index $item.Params.publication_types 0) }}
            {{ else }}
              {{ $.Scratch.Set "pubtype" 0 }}
            {{ end }}

            <div class="grid-sizer col-lg-12 isotope-item pubtype-{{ $.Scratch.Get "pubtype" }} year-{{ $item.Date.Format "2006" }}">
              {{ partial "functions/render_view" (dict "page" $ "item" $item "view" ($.Params.view | default "compact") "index" $index) }}
            </div>

          {{ end }}
        {{ end }}

      {{ end }}

    </div>
  </div>
</div>

{{- end -}}

